*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(50, 128, 128);
}
h1,h3{
    color: darkcyan;
    text-align: center;
    margin-bottom: 10px;
}
#form{
    
    width: 400px;
    
    background-color: #fff;
    margin: 50px auto;
    padding: 50px;
    border: 1px solid black;
    border-radius: 7px;
    box-shadow: 10px 10px 10px  black;
}
#form input,#form textarea{
    width: 100%;
    padding: 5px;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 8px;
    
   
}
#form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button{
    width: 100%;
    padding: 10px;
    border-radius: 7px;
    color: white;
    background-color: darkcyan;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: #056d6f;
}